<div id="diary_show" class="text-center">
  <h1 class="text-3xl font-bold m-6">日記の詳細</h1>

  <div id="diary_detail">
    <table class="mx-auto border-collapse border">
      <tbody>
        <tr>
          <th class="border-collapse border p-2">id</th>
          <td class="border-collapse border p-2"><%= @diary.id %></td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">date</th>
          <td class="border-collapse border p-2"><%= @diary.date %></td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">user's<br/>family_id</th>
          <td class="border-collapse border p-2"><%= @diary.user.family_id %></td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">user's<br/>family</th>
          <td class="border-collapse border p-2"><%= @diary.user.family.name %></td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">user</th>
          <td class="border-collapse border p-2"><%= @diary.user.name %></td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">children</th>
          <td class="border-collapse border p-2">
            <% @diary.children.each do |child| %>
              <%
                current_ids = Array.wrap(params[:child_ids]).map(&:to_s)
                
                if current_ids.include?(child.id.to_s)
                  # すでに選択済みなら、そのIDを取り除く（解除リンクになる）
                  next_ids = current_ids - [child.id.to_s]
                else
                  # 未選択なら、IDを追加する
                  next_ids = current_ids + [child.id.to_s]
                end
              %>
                <%= link_to child.name, filter_diaries_path(child_ids: next_ids, emoji_id: params[:emoji_id]), data: { turbo: false } %><br/>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">emoji's id</th>
          <td class="border-collapse border p-2">
              <%= @diary.emoji.id %>
          </td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">emoji</th>
          <td class="border-collapse border p-2">
            <%= link_to filter_diaries_path(child_ids: params[:child_ids], emoji_id: @diary.emoji.id), data: { turbo: false } do %>
              <%= @diary.emoji.character %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">body</th>
          <td class="border-collapse border p-2"><%= @diary.body %></td>
        </tr>
        <% if current_user.id == @diary.user_id %>
        <tr>
          <td colspan="2">
            <div class="flex p-2">
              <div class="flex-auto">
                <%= button_to "編集", edit_diary_path(diary_id: @diary.id), method: :get, data: { turbo: false }, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
              </div>
              <div class="flex-auto">
                <%= button_to "削除", diary_path(@diary.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: '本当にこの日記を削除しますか？' }, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
              </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>