<div id="diary_show" class="text-center">
  <h1 class="text-3xl font-bold m-6">日記の詳細</h1>

  <div id="diary_detail">
    <table class="mx-auto border-collapse border">
      <tbody>
        <tr>
          <th class="border-collapse border p-2">id</th>
          <td class="border-collapse border p-2"><%= @diary.id %></td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">date</th>
          <td class="border-collapse border p-2"><%= @diary.date %></td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">user's<br/>family_id</th>
          <td class="border-collapse border p-2"><%= @diary.user.family_id %></td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">user</th>
          <td class="border-collapse border p-2"><%= @diary.user.name %></td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">children</th>
          <td class="border-collapse border p-2">
            <% @diary.children.each do |child| %>
              <%= link_to child.name, filter_by_child_diaries_path("child_ids[]" => child.id), data: { turbo: false }, class: "child-link" %><br/>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">emoji's id</th>
          <td class="border-collapse border p-2"><%= @diary.emoji.id %></td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">emoji</th>
          <td class="border-collapse border p-2"><%= @diary.emoji.character %></td>
        </tr>
        <tr>
          <th class="border-collapse border p-2">body</th>
          <td class="border-collapse border p-2"><%= @diary.body %></td>
        </tr>
        <% if current_user.id == @diary.user_id %>
        <tr>
          <td colspan="2">
            <div class="flex p-2">
              <div class="flex-auto">
                <%= button_to "編集", edit_diary_path(diary_id: @diary.id), method: :get, data: { turbo: false }, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
              </div>
              <div class="flex-auto">
                <%= button_to "削除", diary_path(@diary.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: '本当にこの日記を削除しますか？' }, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
              </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>