<div id="show_family" class="text-center">
  <h1 class="text-3xl font-bold m-6">家族（グループ）の情報</h1>

  <% if @family.nil? %>
    <div id="not_belongs_family">
      <div>
        あなたは家族（グループ）に所属していません
      </div>
      <div class="my-6 mx-2">
        <%= button_to "家族（グループ）を作成", new_family_path, method: :get, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
      </div>

      <div>
        <%= form_with url: root_path, local: true do |f| %>
          <div>
            <%= f.label :code, '家族コードを入力' %>
          </div>
          <div>
            <%= f.text_field :code, class: "border border-default-medium rounded-base" %>
          </div>
          <div>
            <%= f.submit '家族（グループ）メンバーになる', class: "box-border border border-default-medium shadow-xs font-medium rounded-full text-sm px-4 py-2 m-2" %>
          </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <div id="family_info">
      <div class="mt-6 m-2">
        <span class="font-bold">家族（グループ）名：</span> <%= @family.name %>
      </div>
      <div>
        <%= button_to '家族（グループ）名を編集する', edit_family_path, method: :get, class: "box-border border border-default-medium shadow-xs font-medium rounded-full text-sm px-4 py-2 m-2" %>
      </div>

      <div class="mt-6 m-2">
        <span class="font-bold">家族（グループ）メンバー一覧</span>
      </div>
      <div>
        <ul class="list-disc list-inside">
          <% @members.each do |member| %>
            <li>
              <%= member.name %>
              <% if member.id == @family.owner_id %>（管理者）<% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="mt-6 m-2">
        <span class="font-bold">子ども一覧</span>
      </div>
    </div>
  <% end %>
</div>