<div id="edit_child" class="text-center">
  <h1 class="text-3xl font-bold m-6">子供の情報を編集</h1>
  <div class="my-10">
    <%= form_with(model: [@family, @child], data: { turbo: false }) do |f| %>
      <div>
        <%= f.label :name, "名前" %>
      </div>
      <div>
        <%= f.text_field :name, class: "border border-default-medium rounded-base" %>
      </div>

      <div>
        <%= f.label :birthday, "誕生日" %>
      </div>
      <div>
        <%= f.date_field :birthday, class: "border border-default-medium rounded-base" %>
      </div>

      <div>
        <%= f.submit "更新する", data: { turbo: false }, class: "box-border border border-default-medium shadow-xs font-medium rounded-full text-sm px-4 py-2 m-2" %>
      </div>
    <% end %>
  </div>

  <div>
    <%= link_to "キャンセル", family_path(@family), data: { turbo: false } %>
  </div>

  <div>
    <%= render 'layouts/footer' %>
  </div>
</div>