<div class="simple-calendar">
  <div class="calendar-heading">
    <nav>
      <div class="flex justify-center">
        <div class="px-2">
          <%= link_to t('simple_calendar.lastYear', default: 'LastYear'), url_for(params.permit(:start_date).to_h.merge(start_date: start_date.beginning_of_month - 1.year)) %>
        </div>
        <div class="px-2">
          <span class="calendar-title"><%= start_date.year %> <%= t('date.year') %></span>
        </div>
        <div class="px-2">
          <%= link_to t('simple_calendar.following', default: 'Following'), url_for(params.permit(:start_date).to_h.merge(start_date: start_date.beginning_of_month + 1.year)) %>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="px-2">
          <%= link_to t('simple_calendar.previous', default: 'Previous'), url_for(params.permit(:start_date).to_h.merge(start_date: start_date.beginning_of_month - 1.month)) %>
        </div>
        <div class="px-2">
          <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title"><%= t('date.month_names')[start_date.month] %></time>
        </div>
        <div class="px-2">
          <%= link_to t('simple_calendar.next', default: 'Next'), url_for(params.permit(:start_date).to_h.merge(start_date: start_date.beginning_of_month + 1.month)) %>
        </div>
      </div>
      <div>
        <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view %>
      </div>
    </nav>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><p class="text-center"><%= t('date.abbr_day_names')[day.wday] %></p></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
