<div id="show_family" class="text-center">
  <h1 class="text-3xl font-bold m-6">家族（グループ）の情報</h1>

  <div id="family_info">
    <div class="mt-8">
      <span class="font-bold">家族（グループ）名：</span> <%= @family.name %>
    </div>
    <% if current_user.id == @family.owner_id %>
      <div class="my-2">
        <%= button_to '家族（グループ）名を編集する', edit_family_path, method: :get, data: { turbo: false }, class: "box-border border border-default-medium shadow-xs font-medium rounded-full text-sm px-4 py-2 m-2" %>
      </div>
    <% end %>

    <div class="mt-8">
      <span class="font-bold">家族（グループ）メンバー一覧</span>
    </div>
    <div class="my-2">
      <ul class="list-disc list-inside">
        <% @members.each do |member| %>
          <li>
            <%= member.name %>
            <% if member.id == current_user.id %>（あなた）<% end %>
            <% if member.id == @family.owner_id %>（管理者）<% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if @members.count > 1 && current_user.id == @family.owner_id %>
      <div>
        <%= button_to "メンバーを削除", family_members_path(family_id: @family.id), method: :get, data: { turbo: false }, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
        <%= button_to "メンバーを追加", new_family_member_path(family_id: @family.id), method: :get, data: { turbo: false }, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
      </div>
    <% elsif @members.count <= 1 && current_user.id == @family.owner_id %>
      <div>
        <%= button_to "メンバーを追加", new_family_member_path(family_id: @family.id), method: :get, data: { turbo: false }, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
      </div>
    <% else %>
      <div>
        <%= button_to "家族から脱退", family_members_path(family_id: @family.id), method: :get, data: { turbo: false }, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
      </div>
    <% end %>

    <div class="mt-10">
      <span class="font-bold">子ども一覧</span>
    </div>
    <div class="my-2">
      <ul class="list-disc list-inside">
        <% @family.children.each do |child| %>
          <li>
            <%= child.name %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if @family.children.count > 0 && current_user.id == @family.owner_id %>
      <div class="my-2">
        <%= button_to "子どもの情報を編集・削除", family_children_path(family_id: @family.id), method: :get, data: { turbo: false }, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
        <%= button_to "子どもの情報を追加", new_family_child_path(family_id: @family.id), method: :get, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
      </div>
    <% elsif current_user.id == @family.owner_id %>
      <div class="my-2">
        <%= button_to "子どもの情報を追加", new_family_child_path(family_id: @family.id), method: :get, data: { turbo: false }, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
      </div>
    <% end %>
    </div>

  <div class="my-8">
    <%= link_to 'マイページへ', mypage_path, data: { turbo: false } %>
  </div>

  <div>
    <%= render 'layouts/footer' %>
  </div>
</div>