<div id="show_family" class="text-center">
  <h1 class="text-3xl font-bold m-6">家族（グループ）の情報</h1>

  <div id="family_info">
    <div class="mt-8">
      <span class="font-bold">家族（グループ）名：</span> <%= @family.name %>
    </div>
    <div class="my-2">
      <%= button_to '家族（グループ）名を編集する', edit_family_path, method: :get, class: "box-border border border-default-medium shadow-xs font-medium rounded-full text-sm px-4 py-2 m-2" %>
    </div>

    <div class="mt-8">
      <span class="font-bold">家族（グループ）メンバー一覧</span>
    </div>
    <div class="my-2">
      <ul class="list-disc list-inside">
        <% @members.each do |member| %>
          <li>
            <%= member.name %>
            <% if member.id == @family.owner_id %>（管理者）<% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if @members.count > 1 && current_user.id == @family.owner_id %>
      <div>
        <%= button_to "メンバーを削除", family_members_path(family_id: @family.id), method: :get, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
        <%= button_to "メンバーを追加", new_family_member_path(family_id: @family.id), method: :get, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
      </div>
    <% elsif @members.count <= 1 && current_user.id == @family.owner_id %>
      <div>
        <%= button_to "メンバーを追加", new_family_member_path(family_id: @family.id), method: :get, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
      </div>
    <% else %>
      <div>
        <%= button_to "家族から脱退", family_members_path(family_id: @family.id), method: :get, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2 m-2" %>
      </div>
    <% end %>

    <div class="mt-10">
      <span class="font-bold">子ども一覧</span>
    </div>
  </div>
</div>