<div id="new_member" class="text-center">
  <h1 class="text-3xl font-bold m-6">家族メンバー一覧</h1>

  <div class="flex justify-center my-10">
    <table>
    <% @members.each do |member| %>
      <tr>
        <td>
          <%= member.name %>：
          <%= member.email %>
        </td>
        <td>
          <% if @family.owner_id == current_user.id || member.id == current_user.id %>
            <%= button_to delete_or_optout(current_user, @family),
                  family_member_path(@family, member),
                  method: :delete,
                  data: { turbo_confirm: "本当にこのメンバーを家族から削除しますか？" },
                  class: "box-border border border-default-medium shadow-xs font-medium rounded-full text-sm px-4 py-2 m-2" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="my-8">
    <%= link_to "戻る", family_path(@family), data: { turbo: false } %>
  </div>

  <div>
    <%= render 'layouts/footer' %>
  </div>
</div>