<div id="new_member" class="text-center">
  <h1 class="text-3xl font-bold m-6">家族（グループ）にメンバー追加</h1>
  <div class="my-10">
    <%= form_with url: family_members_path(@family), method: :post do |f| %>
      <div>
        <%= f.label :email, "追加するユーザーのメールアドレス" %>
      </div>
      <div>
        <%= f.email_field :email, class: "border border-default-medium rounded-base" %>
      </div>
      <%= f.submit "追加する", class: "box-border border border-default-medium shadow-xs font-medium rounded-full text-sm px-4 py-2 m-2" %>
    <% end %>
  </div>

  <div class="mt-8">
    <%= link_to "戻る", family_path(@family) %>
  </div>
</div>