<footer class="bg-lime-400 p-8">
  <div class="mx-auto max-w-screen-xl">
    <%# 上段: 左寄せメニュー %>
    <nav class="mb-12 flex flex-col space-y-4 text-left">
      <%= link_to "利用規約", root_path, class: "text-lime-900 hover:text-lime-900 visited:text-lime-900" %>
      <%= link_to "プライバシーポリシー", root_path, class: "text-lime-900 hover:text-lime-900 visited:text-lime-900" %>
      <%= link_to "お問い合わせ", root_path, class: "text-lime-900 hover:text-lime-900 visited:text-lime-900" %>
    </nav>

    <%# 下段: 右寄せコピーライトとSNS %>
    <div class="flex flex-col items-end space-y-4 text-right">
      <div class="flex flex-row items-end space-x-6">
        <div id="x-link" class="basis-2xs">
          <%= link_to root_path, class: "text-lime-900 transition-colors", aria: { label: "X (Twitter)" } do %>
            <span class="icon-[simple-icons--x] text-3xl" aria-hidden="true"></span>
          <% end %>
        </div>
        <div id="note-link" class="basis-2xs">
          <%= link_to image_tag('/note-logo.png'), root_path, aria: { label: "note" } %>
        </div>
      </div>
      <p class="text-sm text-lime-900">
        &copy; <%= Time.current.year %> Omoide tsumugi.
      </p>
    </div>
  </div>
</footer>
