<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <div id="header">
      <%= render 'layouts/header' %>
    </div>
    <div id="main" class="flex-grow flex flex-col">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <div id="menu">
      <%= render 'layouts/menu' %>
    </div>
  </body>
</html>
